<div class="mt-5 overflow-x-auto">
    <table class="min-w-full border-collapse border" id="dataTable">
        <thead>
            <tr class="bg-gray-200">
                <th class="p-2 border border-gray-200 text-left">Date</th>
                <th class="p-2 border border-gray-200 text-left">Purpose</th>
                <th class="p-2 border border-gray-200 text-left">Type</th>
                <th class="p-2 border border-gray-200 text-left">Status</th>
                <th class="p-2 border border-gray-200 text-left">Requestor</th>
                <th class="p-2 border border-gray-200 text-left">Action</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            {% for entry in draftlist %}
                <tr class="bg-white border row" data-status="{{ entry.status }}">
                    <td class="border p-2 text-left">
                        {{ entry.date_requested|date:"m/d/Y" }}
                    </td>
                    <td class="border p-2 text-left">{{ entry.purpose }}</td>
                    <td class="border p-2 text-left">
                        {% if entry.table_type == 'CashAdvance' %}
                        Cash Advance - Travel
                        {% elif entry.table_type == 'CashReimbursement' %}
                        Cash Reimbursement - Travel
                        {% elif entry.table_type == 'CashLiquidation' %}
                        Cash Liquidation - Travel
                        {% elif entry.table_type == 'PurchaseAdvance' %}
                        Cash Advance - Purchase
                        {% elif entry.table_type == 'PurchaseReimbursement' %}
                        Cash Reimbursement - Purchase
                        {% elif entry.table_type == 'PurchaseLiquidation' %}
                        Cash Liquidation - Purchase
                        {% else %}
                        None
                        {% endif %}
                    </td>
                    <td class="border p-2 text-left">
                    {% if entry.status == "draft" %}
                        Draft
                    {% elif entry.status == "forapproval" %}
                        For Approval
                    {% elif entry.status == "forprocess" %}
                        For Process
                    {% elif entry.status == "forrelease" %}
                        For Release
                    {% elif entry.status == "pendingliquidation" %}
                        Pending Liquidation
                    {% elif entry.status == "denied" %}
                        Denied
                    {% elif entry.status == "completed" %}
                        Completed
                    {% else %}
                        {{ entry.status }}
                    {% endif %}
                    </td>
                    <td class="border p-2 text-left">{{ entry.name }}</td>
                    <td class="border p-2 text-left">
                        <div class="flex items-center gap-2 w-full">
                            {% if entry.status == 'draft' %}
                                <!-- Edit button -->    
                                <button class="edit-btn bg-yellow-100 px-2 py-1 rounded hover:bg-yellow-200"
                                onclick="updateRecord({{ entry.id }}, '{{ entry.table_type }}')">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688 a1.875 1.875 0 1 1 2.652 2.652 L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8 .8-2.685a4.5 4.5 0 0 1 1.13-1.897 L16.863 4.487Zm0 0L19.5 7.125" />
                                </svg>
                                </button>
                                <!-- Delete button -->
                                <button class="delete-btn bg-red-100 px-2 py-1 rounded hover:bg-red-200"
                                onclick="deletethisModal({{ entry.id }}, '{{ entry.table_type }}', '{{ entry.username }}')">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9 m9.968-3.21c.342.052.682.107 1.022.166 m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077 H8.084a2.25 2.25 0 0 1-2.244-2.077 L4.772 5.79m14.456 0 a48.108 48.108 0 0 0-3.478-.397 m-12 .562c.34-.059.68-.114 1.022-.165 m0 0a48.11 48.11 0 0 1 3.478-.397 m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201 a51.964 51.964 0 0 0-3.32 0 c-1.18.037-2.09 1.022-2.09 2.201v.916 m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                </svg>
                                </button>
                            {% endif %}
                    
                            <!-- View button -->
                            <button class="view-btn bg-green-100 px-2 py-1 rounded hover:bg-green-200"
                                onclick="openModal({{ entry.id }}, '{{ entry.table_type }}', '{{ username }}', '{{ entry.status }}')" title="View Summary">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5 c4.638 0 8.573 3.007 9.963 7.178 .07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5 c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                </svg>
                            </button>
                                                
                            <!-- Right-aligned link -->
                            {% comment %} <a href="#" class="ml-auto text-blue-600 hover:underline">Input actual expense</a> {% endcomment %}
                        </div>
                    </td>
                    
                    
                </tr>
            {% endfor %}
            {% include 'deleteModal.html' %}
        </tbody>
    </table>
</div>









